@import "variables";

html {
	height: 100%;
}

a:hover {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 80px 0 0;
	background-color: #fff;
	height: 100%;
	color: $color-text;
	font-family: Dosis, sans-serif;
	font-size: 14px;
}

#header {
	height: $header-height;
	background-color: rgba(255, 255, 255, 0.8);
	border-bottom: 2px solid #ccc;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;

	.extras {
		padding: 10px 0;
		.call-label {
			font-size: 18px;
			margin-bottom: 0;
		}

		.phone-number {
			color: $color-primary;
			i {
				font-size: 18px;
				margin-right: 3px;
			}
			a {
				font-size: 24px;
				color: inherit;
			}
		}
	}
}

#content {
	margin-top: 50px;

	.menu-item {
		margin-bottom: 50px;
		.mi-desc,
		.mi-img {
			max-height: 400px;
		}

		.mi-desc {
			padding: 90px 0;

			h2 {
				font-size: 46px;
				text-transform: uppercase;
				font-weight: 200;
				color: $color-primary;
				margin-bottom: 30px;
				letter-spacing: 9.6px;
				line-height: 50px;
			}

			.mi-ingredients {
				font-weight: 200;
				font-size: 24px;
				margin-bottom: 30px;
			}

			.mi-price {
				font-size: 24px;
				font-weight: 600;

				.currency {
					text-transform: uppercase;
				}
			}
		}
	}
}
