@import "variables";

html {
	height: 100%;
}

a:hover {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 80px 0 0;
	background-color: silver;
	height: 100%;
	color: $color-text;
	font-family: Dosis, sans-serif;
	font-size: 14px;
}

#header {
	height: $header-height;
	background-color: rgba(255, 255, 255, 0.6);
	border-bottom: 2px solid #ccc;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;

	.extras {
		padding: 10px 0;
		.call-label {
			font-size: 18px;
			margin-bottom: 0;
		}

		.phone-number {
			color: $color-primary;
			i {
				font-size: 18px;
				margin-right: 3px;
			}
			a {
				font-size: 24px;
				color: inherit;
			}
		}
	}
}

#content {
	height: 110%;
}
